*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{ font-size: 62.5%; }
body{ font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

main{
  padding: 0 2.5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19a2ae;
  position: relative;
  overflow: hidden;
}

.card {
  min-height: 50vh;
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  z-index: 3;
}

.card-image{
  min-height: 20vh;
  background-image: url("images/bg-pattern-card.svg");
}

.user{
  position: relative;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user > div{
  position: absolute;
  top: -50%;
  padding: .6em;
  background-color: white;
  border-radius: 50%;
}

.image{
  border-radius: 50%;
}

.name{
  font-weight: bold;
  color: #333;
  font-size: 1.6rem;
  margin-right: .2em;
}

.city{
  display: block;
  text-align: center;
  margin-top: .7em;
}

.user p{
  font-size: 1.5rem;
  margin-top: 2em;
  color: hsl(0, 0%, 59%);
}

.followers{
  font-size: 1.5rem;
  min-height: 10vh;
  border-top: 1px solid #dbd8d8b2;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.followers .amount{
  font-weight: bold;
  text-align: center;
}

.amount span{
  color: #969696;
  margin-top: .7em;
  font-size: 1.2rem;
  font-weight: lighter;
  display: block;
}

.top-circle img{
  display: none;
  position: absolute;
  top: -50em;
  left: -35em;
}

.bottom-circle img{
  position: absolute;
  top: -50em;
  left: -35em;
}


@media (min-width: 375px){
  .top-circle{
    top: -3em;
    left: -3em;
  }
}

@media (min-width: 768px){
  .card{ width: 50%; }
  .top-circle{
    /* top: -3em;
    left: -3em; */
  }
}

@media (min-width: 1200px){
  .card{ width: 30%; }

  .top-circle img{
    position: absolute;
    /* top: -40em;
    left: -10em; */
  }

  .bottom-circle{
    display: none;
  }
}
